My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.property_hooks }}{{ $json.property_tone }}{{ $json.property_keyframe_prompts }}\n\nTake in account the hook description, tone and audiece directed towards neatly, should not deviate from that.\nGIVE ME 10 ONE LINER MARKETING HOOKS.\nThe marketing hook is for advertising our website https://machineavatars.com/, make it accordingly, highlight the features of the avatar rather than a plain chatbot, the analytics dashboard and whatever you see fit and that which will make us standout from our competitors. Make it a one-liner that an entrepreneur can relate to.\nReturn output matching the example schema exactly.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -208,
        -128
      ],
      "id": "1c0a800f-45c6-4cbd-947a-07f5bbb492f7",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"marketingHooks\": {{ $('Basic LLM Chain').item.json.output.marketing_hooks.toJsonString() }},\n\"projectId\": \"{{$node['Create a database page'].json['id']}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        -128
      ],
      "id": "ba99755a-89a0-4a27-b8a3-319066708879",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "https://www.notion.so/36511ec457c680a680aec10ee489a2f5?v=36511ec457c680fbbf5e000caba8892d&source=copy_link",
          "mode": "url"
        },
        "title": "={{ $json.body.hook }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Hooks|title",
              "title": "={{ $json.body.hook }}"
            },
            {
              "key": "Tone|rich_text",
              "textContent": "={{ $json.body.tone }}"
            },
            {
              "key": "Audience|rich_text",
              "textContent": "={{ $json.body.audience }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -400,
        -128
      ],
      "id": "1d29372b-2a14-4865-8a98-74883adfacc5",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "Vli1cTTCPlUsyi3v",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"marketing_hooks\": [\"Los Angeles\", \"San Francisco\", \"San Diego\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -64,
        64
      ],
      "id": "3d4fc72c-cff3-43ad-91ff-4f12b00150b5",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite short-form cinematic ad scriptwriter creating high-retention AI SaaS reels for social media.\n\nGenerate ONLY the speaking/dialogue part of a reel.\n\nThe script is specifically for:\nhttps://machineavatars.com/\n\nAbout the platform:\nMachine Avatars helps businesses integrate intelligent AI avatars into their websites. These avatars can converse naturally with visitors, qualify leads, answer questions, provide product guidance, capture customer intent, and generate actionable business insights through analytics. The platform combines conversational AI, avatar-based interaction, and business automation to improve engagement and conversion rates.\n\nSelected Hook:\n{{$json.body.selectedHook}}\n\nTone:\n{{$json.body.tone}}\n\nAudience:\n{{$json.body.audience}}\n\nRequirements:\n- 10–15 seconds ONLY\n- extremely engaging opening\n- conversational, not corporate\n- cinematic pacing\n- social-media optimized\n- short punchy lines\n- emotionally intelligent\n- sound premium and futuristic\n- mention how the avatar improves customer interaction\n- mention analytics/business intelligence subtly\n- imply conversion growth and automation benefits\n- should sound natural when spoken aloud\n- avoid generic AI buzzwords\n- avoid long explanations\n- no scene directions\n- no markdown\n- no labels\n\nReturn ONLY the speaking script.\nReturn output matching the example schema exactly in JSON.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1312,
        -480
      ],
      "id": "11c4f62f-7cb4-4638-9617-2203b71e99a2",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "model": "gpt-4-0613",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -416,
        128
      ],
      "id": "68430a92-0d48-40fd-9242-69b97f7371a0",
      "name": "Marketing Hooks Generation",
      "credentials": {
        "azureOpenAiApi": {
          "id": "YwgfOZrUDKzIZXaB",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        864,
        -240
      ],
      "id": "a9c93be8-fced-49ce-a39e-80c4ee6a9484",
      "name": "Generating Script",
      "credentials": {
        "azureOpenAiApi": {
          "id": "YwgfOZrUDKzIZXaB",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"script\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1504,
        -288
      ],
      "id": "10b7b464-2ed5-4dfa-89e2-82e07ec4449a",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$node[\"Create a database page\"].json[\"id\"]}}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Marketing Hooks|rich_text",
              "textContent": "={{ $json.output.marketing_hooks.map((h, i) => `${i + 1}. ${h}`).join('\\n\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        144,
        -128
      ],
      "id": "b4413a37-8434-4e6f-ae2e-f4e037ab4e9b",
      "name": "Marketing Hooks Added",
      "credentials": {
        "notionApi": {
          "id": "Vli1cTTCPlUsyi3v",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Handle Script').item.json.body.projectId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Speaking Script Final|rich_text",
              "textContent": "={{ $json.output.script }}"
            },
            {
              "key": "Selected One-liner|rich_text",
              "textContent": "={{ $('Handle Script').item.json.body.selectedHook }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1664,
        -480
      ],
      "id": "ea86ae2a-d81c-4944-8d28-c0941daff64b",
      "name": "Script Added",
      "credentials": {
        "notionApi": {
          "id": "Vli1cTTCPlUsyi3v",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"script\": {{ $json.property_speaking_script_final.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1872,
        -480
      ],
      "id": "1958a404-8c2a-4e34-8d2c-98c37bc4eb4c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-hooks",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -128
      ],
      "id": "0b0ea519-9380-4caa-9de7-a91e1d48820a",
      "name": "Handle Hooks",
      "webhookId": "bbcf0e83-21be-4316-af9f-6745d4432818"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-script",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1056,
        -480
      ],
      "id": "2c51af58-b504-47fd-b585-47d8a21f1bab",
      "name": "Handle Script",
      "webhookId": "19088c53-ffa4-4d3b-b395-e81745d3aa0b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6ee447e8-096f-476d-9d81-3dad689f4a9e",
              "leftValue": "={{ $json.property_speaking_script_final.toBoolean() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        -128
      ],
      "id": "aff3684e-e4b8-414a-a932-412a0d999d3e",
      "name": "If1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-keyframe-prompts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        320
      ],
      "id": "70cdac5d-d9de-4680-b3b1-f07d1e2c6654",
      "name": "Handle Keyframe Prompts",
      "webhookId": "d266735d-336f-4ef7-a183-457f398e1077"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a cinematic AI storyboard director generating only the absolutely necessary keyframes required for hyper-realistic Higgsfield AI video generation.\n\nYour task is to create ONLY the critical cinematic anchor frames needed for motion interpolation and scene consistency.\n\nThe generated frames will later be used as visual reference points for AI video generation.\n\nContext:\n- Assets, character references, environments, clothing references, and style references will be separately provided to Higgsfield\n- The generated prompts must strongly preserve asset consistency\n- Character identity consistency is EXTREMELY important\n- Human anatomy, facial structure, movement physics, eye direction, body posture, and cloth behavior must feel indistinguishable from real cinema footage\n- Video is intended for premium vertical short-form reel content\n\nSpeaking Script:\n{{$json.body.script}}\n\nSelected Hook:\n{{$json.body.selectedHook}}\n\nTone:\n{{$json.body.tone}}\n\nAudience:\n{{$json.body.audience}}\n\nInstructions:\n- Generate ONLY the keyframes absolutely necessary for temporal continuity\n- Avoid redundant frames\n- Prioritize cinematic transition anchors\n- Each keyframe should represent a major emotional or visual beat\n- Every frame must be optimized for Higgsfield image generation\n- Hyper realism is mandatory\n- Human physics must remain natural and believable\n- Preserve exact facial identity across all frames\n- Preserve hairstyle consistency\n- Preserve skin texture realism\n- Preserve wardrobe consistency\n- Preserve environment continuity\n- Preserve lighting continuity\n- Vertical 9:16 cinematic reel framing\n- Natural realistic body mechanics\n- Realistic gravity and cloth simulation behavior\n- Realistic cinematic lens behavior\n- Realistic skin light interaction\n- Realistic eye reflections\n- Subtle micro expressions\n- Cinematic commercial-grade composition\n- Real-world camera movement implication\n- Avoid exaggerated poses\n- Avoid animation/cartoon aesthetics entirely\n- Avoid over-stylized diffusion-art look\n- Assume final video will use frame interpolation between these keyframes\n\nFor EACH keyframe include:\n- shot type\n- framing\n- camera angle\n- lens feel\n- lighting\n- subject pose\n- emotional tone\n- environmental consistency\n- movement implication\n\nGenerate only 4–7 keyframes maximum.\n\nReturn output matching the schema exactly.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -64,
        320
      ],
      "id": "250095c2-c5df-4f5d-8ecf-6b10e4817abe",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"keyframes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"text\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"text\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"keyframes\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        80,
        528
      ],
      "id": "7ae7cedd-b7d5-4756-b426-6be822336d63",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -288,
        560
      ],
      "id": "1fd9ab08-8e24-4d7b-a7a1-8289f26b0c77",
      "name": "Generate Keyframe Prompts",
      "credentials": {
        "azureOpenAiApi": {
          "id": "YwgfOZrUDKzIZXaB",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"keyframes\": {{ $json.property_keyframe_prompts.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        496,
        320
      ],
      "id": "03ba49a4-c08f-48ec-9a1f-82502fb98313",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Handle Keyframe Prompts').item.json.body.projectId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Keyframe Prompts|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.output.keyframes   .map((k, i) => `• Keyframe ${i + 1}\\n${k.text}`)   .join('\\n\\n')   .slice(0, 1900) }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "={{ $json.output.keyframes   .map((k, i) => `• Keyframe ${i + 1}\\n${k.text}`)   .join('\\n\\n')   .slice(1900, 3800) }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "={{ $json.output.keyframes   .map((k, i) => `• Keyframe ${i + 1}\\n${k.text}`)   .join('\\n\\n')   .slice(3800, 5700) }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        288,
        320
      ],
      "id": "43dbed6f-ac01-40f1-946e-7e58c480a087",
      "name": "Keyframe Prompts Added",
      "credentials": {
        "notionApi": {
          "id": "Vli1cTTCPlUsyi3v",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a cinematic AI commercial director creating a hyper-realistic vertical storyboard for Higgsfield AI video generation.\n\nThe storyboard is for a premium advertising reel promoting:\nhttps://machineavatars.com/\n\nAbout the platform:\nMachine Avatars allows businesses to integrate highly intelligent AI avatars into their websites. These avatars converse naturally with visitors, answer questions, qualify leads, guide customers, automate interactions, and provide actionable analytics and business insights. The platform combines conversational AI, human-like avatar interaction, and business automation to improve engagement and increase conversions.\n\nYour task:\nGenerate ONLY the essential cinematic storyboard beats required for producing a highly realistic short-form reel.\n\nThe storyboard will later guide:\n- Higgsfield image generation\n- AI frame interpolation\n- cinematic scene continuity\n- camera movement planning\n- emotional pacing\n\nContext:\n- Assets, environments, avatars, clothing references, branding, and facial references will be separately provided to Higgsfield\n- The generated storyboard must strongly preserve asset consistency\n- Human realism is EXTREMELY important\n- The final output must feel indistinguishable from real cinematic commercial footage\n- Video format is vertical 9:16 reel format\n- Reel is intended for Instagram/TikTok premium ad quality\n\nSpeaking Script:\n{{$json.body.script}}\n\nSelected Hook:\n{{$json.body.selectedHook}}\n\nKeyframes:\n{{$json.body.keyframes}}\n\nTone:\n{{$json.body.tone}}\n\nAudience:\n{{$json.body.audience}}\n\nInstructions:\n- Generate ONLY the necessary storyboard moments\n- Avoid unnecessary scene changes\n- Prioritize emotional pacing and visual clarity\n- Every scene should help AI video interpolation remain stable\n- Preserve exact avatar identity throughout\n- Preserve wardrobe continuity\n- Preserve environment continuity\n- Preserve lighting consistency\n- Preserve realistic human body mechanics\n- Preserve realistic facial physics\n- Preserve realistic eye movement\n- Preserve realistic breathing and posture behavior\n- Avoid exaggerated cinematic fantasy\n- Avoid animated/cartoon aesthetics entirely\n- The reel should feel premium, modern, intelligent, and emotionally engaging\n- Focus heavily on realism and believable commercial cinematography\n\nStoryboard should include:\n- scene progression\n- shot transitions\n- emotional progression\n- camera movement\n- framing\n- lighting atmosphere\n- movement implication\n- pacing guidance\n- environmental continuity\n- realistic lens behavior\n- realistic depth of field\n- realistic commercial-grade cinematography\n\nThe reel structure should generally follow:\n- strong emotional hook\n- intelligent product reveal\n- avatar interaction\n- customer engagement visualization\n- business intelligence implication\n- premium futuristic atmosphere\n- subtle conversion-focused ending\n\nGenerate ONLY 4–6 storyboard scenes maximum.\n\nReturn output matching the example schema exactly.\nReturn ONLY valid JSON.\n\nThe storyboard field must contain one continuous cinematic text block.\n\nDo not return arrays.\nDo not return scene objects.\nDo not return nested JSON.\nDo not stringify JSON.\nDo not wrap in markdown.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1104,
        112
      ],
      "id": "add62b51-488c-4724-b5e4-d390a01b4ffc",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"storyboard\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"storyboard\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1248,
        320
      ],
      "id": "a49f2950-1120-4fe8-bbe0-fa31d180c170",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"storyboard\": {{ $json.property_storyboard_prompt.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1664,
        112
      ],
      "id": "4366c68b-1223-472d-9e91-79ba81febcb1",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-storyboard-prompt",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        896,
        112
      ],
      "id": "7cd29bff-a323-462c-abae-717e9474b615",
      "name": "Handle Storyboard Prompt",
      "webhookId": "d266735d-336f-4ef7-a183-457f398e1077"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        912,
        352
      ],
      "id": "0244f6ab-901d-47d1-84b6-09c3ee8f906f",
      "name": "Generate Storyboard Prompts",
      "credentials": {
        "azureOpenAiApi": {
          "id": "YwgfOZrUDKzIZXaB",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Handle Storyboard Prompt').item.json.body.projectId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Storyboard Prompt|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.output.storyboard.slice(0, 1900) }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "={{ $json.output.storyboard.slice(1900, 3800) }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1456,
        112
      ],
      "id": "05637464-bd1c-4a39-b4ea-be55cfe5e5e7",
      "name": "Storyboard Prompt Added",
      "credentials": {
        "notionApi": {
          "id": "Vli1cTTCPlUsyi3v",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a cinematic AI commercial director generating hyper-realistic Higgsfield video prompts for the HOOK section of a premium vertical advertising reel.\n\nThe reel is promoting:\nhttps://machineavatars.com/\n\nAbout the platform:\nMachine Avatars helps businesses integrate intelligent AI avatars into websites. These avatars naturally converse with visitors, answer questions, qualify leads, guide customer decisions, and generate actionable business insights through analytics and conversational intelligence.\n\nYour task:\nGenerate ONLY the HOOK SECTION video generation prompts.\n\nThe generated prompts will later be used inside Higgsfield AI video generation.\n\nIMPORTANT:\n- The hook sequence must be partitioned into cinematic segments of approximately 8–10 seconds each\n- Each segment should end ONLY at natural cinematic jump-cut moments\n- Segments must be optimized to reduce Higgsfield token usage\n- Segment continuity must remain seamless between cuts\n- Every segment should feel visually connected when stitched together\n- The final reel should feel like a premium cinematic commercial\n\nContext:\nSpeaking Script:\n{{$json.body.script}}\n\nSelected Hook:\n{{$json.body.selectedHook}}\n\nStoryboard:\n{{$json.body.storyboard}}\n\nKeyframes:\n{{$json.body.keyframes}}\n\nTone:\n{{$json.body.tone}}\n\nAudience:\n{{$json.body.audience}}\n\nInstructions:\n- Hyper realistic human facial movement\n- Ultra realistic lip sync preparation\n- Realistic eye movement\n- Natural micro expressions\n- Realistic breathing\n- Realistic skin texture interaction with light\n- Realistic cloth movement physics\n- Preserve exact facial identity from provided assets\n- Preserve wardrobe consistency\n- Preserve lighting continuity\n- Preserve environmental continuity\n- Vertical 9:16 cinematic reel framing\n- Premium commercial cinematography\n- Realistic handheld or stabilized cinematic motion\n- Natural lens compression\n- Realistic depth of field\n- Social-media optimized pacing\n- Cinematic but believable human movement\n- No animation/cartoon aesthetics\n- No diffusion-art look\n- The reel must feel indistinguishable from real cinema footage\n\nFor EACH segment include:\n- duration estimate\n- camera movement\n- framing\n- lens feel\n- lighting atmosphere\n- emotional tone\n- movement implication\n- transition implication into next jump cut\n- realistic subject movement\n- realistic facial behavior\n- realistic body mechanics\n- environment continuity\n\nThe hook should:\n- emotionally interrupt scrolling immediately\n- create curiosity within first 2 seconds\n- feel premium and futuristic\n- visually communicate intelligence and conversational AI\n- emphasize realistic AI avatar interaction\n- imply business growth and engagement benefits subtly\n\nGenerate ONLY the segmented Higgsfield video hook part.\n\nReturn ONLY valid raw JSON.\n\nThe response must exactly follow this format:\n\n{\n  \"videoHookPrompt\": \"large continuous cinematic text block here\"\n}\n\nDo not wrap in markdown.\nDo not add explanations.\nDo not add introductory text.\nDo not add arrays.\nDo not add scene objects.\nDo not add segment objects.\nDo not stringify JSON.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2128,
        -272
      ],
      "id": "21a818d9-558a-443c-8bc1-f72e09b3d601",
      "name": "Basic LLM Chain4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"videoHookPrompt\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2272,
        -64
      ],
      "id": "e2ffbd95-19d4-4511-965e-a4d94d27e2f2",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"videoHookPrompt\": {{ $json.property_video_prompt_hook_part.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2688,
        -272
      ],
      "id": "676ad18e-36f9-4a2e-93f6-cf8862f0f87c",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video-generation-hook-prompt",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1920,
        -272
      ],
      "id": "605c11f5-9bcb-4281-b285-463e30a87221",
      "name": "Handle Video Generation Hook Prompt",
      "webhookId": "d266735d-336f-4ef7-a183-457f398e1077"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1920,
        -48
      ],
      "id": "c84a1a52-418e-4046-8b5a-3bd216ff4903",
      "name": "Generate Video Generation Hook Part Prompts",
      "credentials": {
        "azureOpenAiApi": {
          "id": "YwgfOZrUDKzIZXaB",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Handle Video Generation Hook Prompt').item.json.body.projectId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Video Prompt Hook Part|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.output.videoHookPrompt.slice(0, 1900) }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "={{ $json.output.videoHookPrompt.slice(1900, 3800) }}",
                    "annotationUi": {}
                  },
                  {
                    "text": "={{ $json.output.videoHookPrompt.slice(3800, 6700) }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2480,
        -272
      ],
      "id": "fe8f405a-8575-4d06-935f-1c63746f66ce",
      "name": "Video Generation Hook Prompt Added",
      "credentials": {
        "notionApi": {
          "id": "Vli1cTTCPlUsyi3v",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a cinematic AI video director creating hyper-realistic vertical short-form reels for Higgsfield AI video generation.\n\nGenerate ONLY a cinematic video generation prompt for the speaking/dialogue section of the reel.\n\nThe generated video will later be synced to separately provided voice audio, so all facial movement, lip movement, pacing, eye movement, breathing, and expression timing must feel naturally aligned for realistic speech delivery.\n\nContext:\n- The speaking script will already exist\n- Assets, character references, environments, and style references will be provided separately to Higgsfield\n- The generated prompt must strongly preserve asset consistency\n- The avatar/person must maintain identical facial structure, hairstyle, skin texture, clothing identity, and proportions across the full sequence\n- Video must feel indistinguishable from real cinematic camera footage\n\nSpeaking Script:\n{{$json.output.script}}\n\nRequirements:\n- hyper realistic human facial animation\n- ultra realistic lip sync behavior\n- natural micro expressions\n- realistic blinking\n- subtle breathing movement\n- realistic jaw and cheek motion while speaking\n- cinematic vertical reel composition\n- realistic handheld or cinematic stabilized camera motion\n- natural lens compression\n- shallow depth of field\n- realistic lighting interaction on skin\n- cinematic color grading\n- smooth human movement\n- premium commercial aesthetic\n- social-media optimized framing\n- realistic eye focus shifts\n- preserve exact character identity from provided assets\n- preserve wardrobe consistency\n- preserve environment consistency\n- avoid animation/cartoon feel entirely\n- pacing optimized for 10–15 second reels\n- realistic body language matching speech rhythm\n- include camera movement suggestions\n- include emotional atmosphere\n- assume final render is intended for Instagram/TikTok premium ad quality\n\nThe output should ONLY contain the Higgsfield cinematic video generation prompt.\nReturn output matching the example schema exactly.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1984,
        -1072
      ],
      "id": "c60c3d6b-4b36-41d5-ba75-801f89fca857",
      "name": "Basic LLM Chain5"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"script\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2176,
        -848
      ],
      "id": "77c4d9bf-5ca8-4fda-93c9-10bbaeb5862a",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"videoSpeakingPrompt\": {{ $json.property_video_prompt_speaking_part.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2544,
        -1072
      ],
      "id": "1af2d658-ccd0-4ce2-9867-9a1f9820b794",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video-speaking-part",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1776,
        -1072
      ],
      "id": "ca719f5f-d1d3-42aa-8fe1-b7803358a021",
      "name": "Handle Video Generation Speaking Part Prompt",
      "webhookId": "d266735d-336f-4ef7-a183-457f398e1077"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1696,
        -832
      ],
      "id": "22c5a8d4-b92b-4e74-8b9b-7a4c6aa0a8f3",
      "name": "Generate Video Generation Speaking Part Prompt",
      "credentials": {
        "azureOpenAiApi": {
          "id": "YwgfOZrUDKzIZXaB",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Handle Video Generation Speaking Part Prompt').item.json.body.projectId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Video Prompt Speaking Part|rich_text",
              "textContent": "={{ $json.output.script }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2336,
        -1072
      ],
      "id": "badd8bc0-d021-440a-80e4-9415b5101561",
      "name": "Video generation Speaking Part Prompt Added",
      "credentials": {
        "notionApi": {
          "id": "Vli1cTTCPlUsyi3v",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -240,
        64
      ],
      "id": "bc525815-518a-480f-a541-ac87b7532f66",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VG5Ni1cqNT4VdzVq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1376,
        -176
      ],
      "id": "56504ed9-e438-4dda-ab88-d23856dccc79",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "VG5Ni1cqNT4VdzVq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        2080,
        -64
      ],
      "id": "c6c55869-2658-43fd-a2ca-166546980cd6",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "VG5Ni1cqNT4VdzVq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1952,
        -864
      ],
      "id": "7b172ceb-b8de-4a4f-ae88-ce8071056c15",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "VG5Ni1cqNT4VdzVq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -128,
        528
      ],
      "id": "5b7596ca-532f-47f2-824b-6e1624c5a409",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "VG5Ni1cqNT4VdzVq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1056,
        304
      ],
      "id": "ebe755bc-5445-43be-abfd-50d54e60beb6",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "VG5Ni1cqNT4VdzVq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 6,
        "output": "={{ $('Edit Section').item.json.body.section }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -1456
      ],
      "id": "3553d323-3edf-47e2-a38f-5f70505999ce",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Current:\n{{$json.body.currentContent}}\n\nUser Modification Request:\n{{$json.body.editInstruction}}\n\nModify ONLY according to the user request.",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1552,
        -1456
      ],
      "id": "f04ee8d4-76c6-48b5-8a8d-c878f0e958df",
      "name": "Basic LLM Chain6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -1552,
        -1264
      ],
      "id": "9ad3b721-27e8-4dfb-8fd1-ea0b991835fc",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "VG5Ni1cqNT4VdzVq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edit-section",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1760,
        -1456
      ],
      "id": "4522a99c-2bb2-4f19-aca0-2274c4eefe06",
      "name": "Edit Section",
      "webhookId": "440dd3ee-5613-487f-b05e-c088203f5b5c"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36511ec4-57c6-80a6-80ae-c10ee489a2f5",
          "mode": "list",
          "cachedResultName": "Ad prompts",
          "cachedResultUrl": "https://www.notion.so/36511ec457c680a680aec10ee489a2f5"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -208,
        992
      ],
      "id": "b872cc4c-1db2-4c55-827d-7c7561e809ee",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "Vli1cTTCPlUsyi3v",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  const p = item.json;\n\n  return {\n    json: {\n      id: p.id,\n\n      title: p.name || \"Untitled\",\n\n      hook: p.property_hooks || \"\",\n\n      tone: p.property_tone || \"\",\n\n      audience: p.property_audience || \"\",\n\n      selectedHook:\n        p.property_selected_one_liner || \"\",\n\n      script:\n        p.property_speaking_script_final || \"\",\n\n      marketingHooks:\n        p.property_marketing_hooks\n          ?.split(/\\n\\d+\\.\\s/)\n          .filter(Boolean)\n          .map(h => h.trim()) || [],\n\n      keyframes:\n        p.property_keyframe_prompts\n          ?.split(\"• \")\n          .filter(Boolean)\n          .map(text => ({\n            text: text.trim(),\n            image: null\n          })) || [],\n\n      storyboard:\n        p.property_storyboard_prompt || \"\",\n\n      videoHook:\n        p.property_video_prompt_hook_part || \"\",\n\n      videoSpeak:\n        p.property_video_prompt_speaking_part || \"\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        992
      ],
      "id": "61ed4ae8-f1f2-40d0-8cd6-786e24913b2a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"projects\": $input.all().map(i => i.json) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        992
      ],
      "id": "4b5775ea-b29b-437d-bf34-5cf02828009b",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "path": "get-projects",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        992
      ],
      "id": "3e7f10e3-875a-427f-8c4c-a1b7d2293fc7",
      "name": "Past Projects",
      "webhookId": "ccd9130b-7712-4dd8-ae3f-bc302cedf2a1"
    }
  ],
  "pinData": {},
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Marketing Hooks Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Hooks Generation": {
      "ai_languageModel": [
        []
      ]
    },
    "Generating Script": {
      "ai_languageModel": [
        []
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Script Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Hooks Added": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Added": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Hooks": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Script": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Handle Keyframe Prompts": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Keyframe Prompts": {
      "ai_languageModel": [
        []
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Keyframe Prompts Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyframe Prompts Added": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Storyboard Prompt Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Handle Storyboard Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Storyboard Prompts": {
      "ai_languageModel": [
        []
      ]
    },
    "Storyboard Prompt Added": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain4": {
      "main": [
        [
          {
            "node": "Video Generation Hook Prompt Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Handle Video Generation Hook Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Generation Hook Part Prompts": {
      "ai_languageModel": [
        []
      ]
    },
    "Video Generation Hook Prompt Added": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain5": {
      "main": [
        [
          {
            "node": "Video generation Speaking Part Prompt Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Handle Video Generation Speaking Part Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Generation Speaking Part Prompt": {
      "ai_languageModel": [
        []
      ]
    },
    "Video generation Speaking Part Prompt Added": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain6": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Marketing Hooks Added",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Added",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keyframe Prompts Added",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Storyboard Prompt Added",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Video Generation Hook Prompt Added",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Video generation Speaking Part Prompt Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Section": {
      "main": [
        [
          {
            "node": "Basic LLM Chain6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Past Projects": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "98051123-4ccd-4e60-a0a6-0964e6a263ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d4acf0df5554f345c52e722252e1932a5be069c222c0ba39f472bdcc6622a54"
  },
  "id": "emUFUntzlzjEP41h",
  "tags": []
}